#header-img-holder {
	margin: 0 auto 5px auto;
	height: 135px;
	width: 450px;
	background-image: url('../img/Pictures/Logo/Pinnow1_3_2.jpg');
	/*background-image: url('../img/headerW - desktop.jpg');*/
	background-size: 450px 135px;
	background-repeat: no-repeat;

	/* change header image depending on size */

} 