.slideshow-area {
	height: 300px;
	width: 100%;

	.slideshow-list {
		font-size: 24px;
		list-style-type: none;
	}
}

.carousel-img {
	border-radius: 15%;
	border: 3.5px solid lightblue;
	width: 250px;
	height: 175px;
	margin-right: 5px;
}