@import 'variables/variables';

/* EXTEND ELEMET DEFINITIONS
********************/
img {
	display: block;
}

hr {
	margin-top: 100px;
}

a {
	cursor: pointer;
}

/* GENERAL CLASSES
********************/
.center {
	text-align: center;
}

.bold {
	font-weight: bold;
}

.fleft { 
	float: left;
}

.fright {
	float: right;
}