@import 'variables/variables';

/* EXTEND ELEMET DEFINITIONS
********************/
body, html {
	background-color: $bodyColor;
}

img {
	display: block;
}


/* GENERAL CLASSES
********************/
.center {
	text-align: center;
}

.bold {
	font-weight: bold;
}