/* EXTEND ELEMET DEFINITIONS
********************/
img {
  display: block;
}

hr {
  margin-top: 100px;
}

/* GENERAL CLASSES
********************/
.center {
  text-align: center;
}

.bold {
  font-weight: bold;
}

#slideshow-box {
  height: 349px;
  margin: 0 auto;
  position: relative;
  /* only show slide if we're in desktop view */
}
@media screen and (max-width: 992px) {
  #slideshow-box {
    display: none;
  }
}

#header-img-holder {
  margin: 0 auto 5px auto;
  height: 75px;
  width: 551.7482px;
  background-image: url("../img/headerW - desktop.jpg");
  background-size: 551.7482px 75px;
  background-repeat: no-repeat;
  /* change header image depending on size */
}
@media screen and (max-width: 768px) {
  #header-img-holder {
    display: none;
  }
}

.slideshow-area {
  height: 300px;
  width: 100%;
}
.slideshow-area .slideshow-list {
  font-size: 24px;
  list-style-type: none;
}
