/* EXTEND ELEMET DEFINITIONS
********************/
img {
  /*display: block;*/
}

hr {
  margin-top: 100px;
}

a {
  cursor: pointer;
}

/* GENERAL CLASSES
********************/
.center {
  text-align: center;
}

.bold {
  font-weight: bold;
}

.fleft {
  float: left;
}

.fright {
  float: right;
}

/* ALTER PREDEFINED BOOSTRAP CLASSES
********************/
.navbar {
  /*margin-bottom: 0px;*/
}

#header-img-holder {
  margin: 0 auto 5px auto;
  height: 75px;
  width: 551.7482px;
  background-image: url("../img/headerW - desktop.jpg");
  background-size: 551.7482px 75px;
  background-repeat: no-repeat;
  /* change header image depending on size */
}
@media screen and (max-width: 768px) {
  #header-img-holder {
    display: none;
  }
}

#slideshow-area {
  height: 300px;
  width: 100%;
  /* only show slide if we're in desktop view */
}
#slideshow-area .banner-image {
  margin: 0px 20px 0px 20px;
}
#slideshow-area .slideshow-list {
  font-size: 24px;
  list-style-type: none;
}
#slideshow-area .slideshow-text {
  font-size: 20px;
  padding-top: 30px;
  height: 100%;
  margin-right: 20px;
}
@media screen and (max-width: 992px) {
  #slideshow-area {
    display: none;
  }
}

.carousel-img {
  border-radius: 15%;
  border: 3.5px solid lightblue;
  width: 250px;
  height: 175px;
  margin-right: 5px;
}

.carousel-img-large {
  border-radius: 15%;
  border: 3.5px solid lightblue;
  width: 350px;
  height: 245px;
  margin-right: 5px;
}

.carousel-img-tall {
  border-radius: 15%;
  border: 3.5px solid lightblue;
  width: 350px;
  height: 600px;
  margin-right: 5px;
}

#mailLoading {
  margin: 0 auto 5px auto;
  height: 15px;
  width: 128px;
  background-image: url("../img/animations/sending_mail.gif");
  background-repeat: no-repeat;
}

.name-headers {
  text-decoration: underline;
}
