<div class="container" ng-controller="contactCtrl">
	<form id="contactForm" role="form">
		<div class="form-group">
			<label for="email">Your Email address:</label>
			<input type="email" class="form-control" ng-model="fields.email">
		</div>
		<div class="form-group">
			<label for="subject">Subject:</label>
			<input type="text" class="form-control" ng-model="fields.subject">
		</div>
		<div class="form-group">
			<label for="content">Message:</label>
			<textarea ng-model="fields.content" class="form-control" cols="30" rows="10"></textarea>
		</div>

		<button ng-click="sendEmail()" class="btn btn-default">Submit</button>
	</form>
</div>