<div class="section">

	<div class="container">
		<div id="slideshow-area">
			<h2 class="center">We Fix Your Homes</h2>

				<img class="carousel-img-large fleft" src="/assets/img/Pictures/Houses/Small-House-1.jpg" width="300" height="250">

			<div class="slideshow-text">
				Pinnow Electric provies omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. 
			</div>
		</div>
		<hr class="featurette-divider">
		<div id="slideshow-area">

				<img class="carousel-img-large fright" src="/assets/img/Pictures/Houses/Small-House-2.jpg" width="300" height="250">

			<div class="slideshow-text">
				Pinnow Electric provies omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. 
			</div>
		</div>
	</div>

	

</div>