<div class="section">
	<div id="slideshow-box">
		<span id="slideshow-image-holder" u="slides" style="width:997px;height:349px;overflow:hidden;top:0px;">
			<div>
				<img u="image" width="997" height="349" src="assets/img/original/slide1-solutions.jpg">
				<!-- <div u="caption" t="CLIP|L" style="position:absolute;left:36px;top:115px;width:500px;height:138px;font-size:46px;line-height:46px;color:#003562;cursor:text;">
					Providing the best administrative software solutions for education.
				</div>
				<div u="caption" t="CLIP|L" style="position:absolute;left:36px;top:255px;width:500px;height:21px;font-size:21px;line-height:21px;color:#003562;cursor:text;">
					We partner with industry leaders.
				</div> -->
			</div>
	
			<div>
				<img u="image" width="997" height="349" src="assets/img/original/slide2-innovation.jpg">
				<!-- <div u="caption" t="CLIP|L" style="position:absolute;left:36px;top:115px;width:500px;height:92px;font-size:46px;line-height:46px;color:#003562;cursor:text;">
					We bring out the best <br>in your school system. 
				</div>
				<div u="caption" t="CLIP|L" style="position:absolute;left:36px;top:210px;width:500px;height:21px;font-size:21px;line-height:21px;color:#003562;cursor:text;">
					Learn how to customize your options.
				</div> -->
			</div>
	
			<div>
				<img u="image" width="997" height="349" src="assets/img/original/slide3-experience.jpg">
				<!-- <div u="caption" t="CLIP|L" style="position:absolute;left:36px;top:115px;width:500px;height:46px;font-size:46px;line-height:46px;color:#003562;cursor:text;">
					Trusted Experience...
				</div>
				<div u="caption" t="CLIP|L" style="position:absolute;left:36px;top:160px;width:500px;height:21px;font-size:21px;line-height:21px;color:#003562;cursor:text;">
					We put it to work for you.
				</div> -->
			</div>
		</span>
	</div>
</div>